---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: " Jul 2023 - At present.",
    title: "Frontend Developer",
    company: "FyM Sanitarios",
    description:
      "Creation and maintenance of the current website and development of a new one focused on eCommerce using React (work in progress).",
  },
  {
    date: " Jul 2016 - At present.",
    title: "Help Desk Specialist",
    company: "Ribeiro",
    description:
      "Help Desk Specialist, Active Directory admin, Mail admin, Credit Cards homologation.",
  },
  {
    date: "Sep 2014 - Jul 2016. ",
    title: "IT Support at Atos for Siemens account LATAM",
    company: "Atos",
    description:
      "Assistance over the phone or ticket performing remote troubleshooting through diagnostic techniques for Siemens employees. Ticket tool BMC Remedy, Service Now, Net pro2000, Active Directory.",
  },
  {
    date: "Jul 2010 - Dec 2013. ",
    title: "IT Technician",
    company: "Microsoft",
    description:
      "HST IT Support Team Level 1 & 2. On site support, resolution of different hardware and software incidents, contact with suppliers (Lenovo, Xerox, HP), Hardware stock management.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
